# Exclude dot-files and dot-directories
.*

# Reapply rules to files in .vscode folders
!.vscode/
**/.vscode/*

# Keep gitignore
!.gitignore

# Keep VS Code tasks
!tasks.json

# Keep .NET packages
!.netpackages

# Exclude AL packages
*.app

# Exclude permission analyzer state
permissionsAnalyzer.json

# Exclude global translation
*.g.xlf